body {
  overflow-wrap: break-word;
  hyphens: manual;
  word-break: break-all;
}

#pop-up {
  width: 20vw;
  height: 20vh;
  position: fixed;
  top: 30%;
  left: 40%;
  padding-left: 20px;
  z-index: 1000;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px grey;
  display: none;
}
.main {
  margin-top: 20%;
  margin-left: 45%;
  #books {
    font-size: 2rem;
  }
}
#legends {
  display: flex;
  justify-content: right;
  padding-top: 10px;
  background-color: white;
}

.legend-container {
  display: flex;
  align-items: baseline;
  margin: 0px 10px 10px 20px;
  justify-content: space-around;
}

.genre {
  color: white;
  padding: 10px;
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
}

.info {
  margin-left: 5px;
  font-family: monospace;
}

header {
  position: sticky;
  top: 0;
}

#header {
  background-color: black;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

.home-actions {
  display: flex;
}

.group-by-container label {
  font-size: large;
  font-weight: bold;
}

#group-by {
  padding: 5px;
  font-size: large;
  margin-left: 10px;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

#group-by:focus {
  outline: none;
}

.add-book-button {
  height: fit-content;
  border: none;
  background-color: white;
  padding: 7px;
  cursor: pointer;
  font-size: medium;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  margin-left: 50px;
}

.books-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-content: space-evenly;
}

.books-group legend {
  font-size: x-large;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

.book {
  width: 15%;
  margin: 15px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px lightgrey;
}

.book:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.book-image-container {
  width: inherit;
}

.book-image-container-cropped {
  width: inherit;
  height: 300px;
  overflow: hidden;
}

.book-image {
  width: inherit;
}

.book-name {
  min-height: 40px;
  align-content: center;
  font-weight: bold;
  font-size: large;
  text-align: center;
  margin-bottom: 50px;
  font-family: monospace;
}

.available-message,
.unavailable-message {
  font-weight: bold;
  font-size: larger;
  font-family: monospace;
  text-transform: uppercase;
}

#legends .available-bar,
#legends .unavailable-bar {
  width: 50px;
  margin-right: 15px;
}

.available-bar,
.unavailable-bar {
  height: 10px;
}

.available-bar {
  background-color: rgba(0, 128, 0, 0.5);
}

.unavailable-bar {
  background-color: rgba(255, 0, 0, 0.5);
}

.available-message {
  color: green;
}

.unavailable-message {
  color: red;
}

.popup-container {
  width: 300px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: whitesmoke;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 20px;
  font-size: larger;
}

.popup-header {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  font-family: monospace;
}

.popup-actions {
  display: flex;
}

.disabled {
  pointer-events: none;
  opacity: 25%;
}

.action-button,
.close-button {
  margin: 5px;
  width: 75%;
  cursor: pointer;
  border: none;
  padding: 10px 0px;
  font-size: medium;
  font-weight: bold;
}

.action-button {
  color: white;
  background-color: black;
}

.close-button {
  background-color: lightgrey;
}

.form-field {
  margin: 10px auto;
}

.form-label {
  font-size: large;
}

.form-input {
  width: 90%;
  padding: 10px;
  margin: 10px auto;
  border-radius: 7px;
  border: 1px solid #aaaaaa;
  color: #777777;
  font-size: large;
}

.form-input:focus {
  border: 1px solid black;
  outline: none;
}

